#!/bin/bash

if [ -d ".venv/bin" ]; then
    echo ".venv/bin dir exists"

    # shellcheck source=/dev/null
    source .venv/bin/activate

    # --- for bash ---
    if [ -z "${VENV_BASE:-}" ] && [ -n "${VIRTUAL_ENV:-}" ]; then
        VENV_BASE=$(basename "${VIRTUAL_ENV}")
    fi
    export VENV_BASE
    unset PS1
fi
