certifi==2023.7.22
cffi==1.15.1
chardet==5.2.0
charset-normalizer==3.2.0
colorama==0.4.6
contourpy==1.1.0
cycler==0.11.0
filelock==3.12.2
fonttools==4.42.0
idna==3.4
Jinja2==3.1.2
kiwisolver==1.4.4
llvmlite==0.40.1
MarkupSafe==2.1.3
matplotlib==3.7.2
more-itertools==10.1.0
mpmath==1.3.0
networkx==3.1
numba==0.57.1
numpy==1.24.4
openai-whisper @ git+https://github.com/openai/whisper.git@b91c907694f96a3fb9da03d4bbdc83fbcd3a40a4
packaging==23.1
Pillow==10.0.0
PyAudio==0.2.13
pycparser==2.21
pyparsing==3.0.9
pysrt==1.1.2
python-dateutil==2.8.2
regex==2023.6.3
requests==2.31.0
scipy==1.11.1
six==1.16.0
soundfile==0.12.1
srt==3.5.3
sympy==1.12
tiktoken==0.3.3
torch==2.0.1
tqdm==4.65.0
typing_extensions==4.7.1
urllib3==2.0.4
whisper==1.1.10
